
    <div class="row">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/fiscal_years">Fiscal Year</a></li>
        </ol>
    </div>
    <div class="col-md-offset-9">
      <a  href="/fiscal_years/new"> <button type="submit" class="btn btn-primary btn-md"><i class="fa fa-plus" aria-hidden="true"></i> New</button></a>
    </div>
    <br>
    <div class="col-sm-10">
      <table class="table ">

        <tr style="background-color: #ebccd1;">
          <th> S.N</th>
          <th> Fiscal Year</th>
          <th>Start Date</th>
          <th> Last Date</th>
        </tr>
        <% @fiscal_year.each_with_index do |fiscal_years,i| %>
            <tr>
              <td> <%= (@page.to_i - 1)*5+i+1 %> </td>
              <td>     <%= fiscal_years.name%></td>
              <td>    <%=fiscal_years.start_date%> </td>
              <td>    <%=fiscal_years.end_date%> </td>
            </tr>

        <% end %>
      </table>

    </div>
  </div>
</div>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  </script>